
<!DOCTYPE html>
<html>
<head>
<title>ModWebBus</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Registradores Modbus - Simulador Geral</h2>
<h3>Resetar registradores</h3>
<button onclick="resetRegs()">Resetar Todos</button>
<table>
<thead>
<tr><th>HR</th><th>Descrição</th><th>Valor</th><th>Ação</th></tr>
</thead>
<tbody id="regs_table">
</tbody>
</table>

<footer>
    <div class="footer-content">
        <div class="logos">
            <img src="{{ url_for('static', filename='logo1.jpeg') }}" alt="Logo do Laboratório 1" style="width:180px; height:auto;">
            <img src="{{ url_for('static', filename='logo2.jpeg') }}" alt="Logo do Laboratório 2" style="width:300px; height:auto;">
        </div>
        <div class="info">
            <p><strong>Autor:</strong> Mateus Navarro Ribeiro de Lima</p>
            <p><strong>Orientador:</strong> Juan Mauricio Villanueva</p>
            <p><strong>GitHub:</strong> <a href="https://github.com/MateusNavarroR" target="_blank">github.com/MateusNavarroR</a></p>
        </div>
    </div>
</footer>



<script>
// Descrições dos registradores
const descricoes = [
    "Rampa",
    "Senoide",
    "Dente de Serra",
    "Aleatório",
    "Booleano",
    "Amplitude Senoide",
    "Frequência Senoide",
    "LIVRE",
    "LIVRE",
    "LIVRE",
    "LIVRE",
    "LIVRE",
    "LIVRE",
    "LIVRE",
    "LIVRE",
    "LIVRE"
];


function initTable(){
    let html = "";
    for(let i=0;i<descricoes.length;i++){
        html += `<tr id="row${i}">
            <td>HR${i}</td>
            <td>${descricoes[i]}</td>
            <td class="valor">0</td>
            <td>
                <input type="number" id="val${i}" placeholder="Novo valor" min="0">
                <button onclick="setReg(${i})">Alterar</button>
            </td>
        </tr>`;
    }
    $("#regs_table").html(html);
}

function updateRegs(){
    $.getJSON("/registradores", function(data){
        for(let i=0;i<data.length;i++){
            $("#row"+i+" .valor").text(data[i]);
        }
    });
}

function setReg(i){
    let val = $("#val"+i).val();
    $.ajax({
        url:"/set_reg",
        type:"POST",
        contentType:"application/json",
        data: JSON.stringify({reg:i,val:val}),
        success: updateRegs
    });
}

function resetRegs(){
    $.post("/reset_regs", {}, updateRegs);
}

// Inicialização
initTable();
setInterval(updateRegs, 1000); 
updateRegs();
</script>
</body>
</html>
